.si-bg-red {
    background-color: red;
}

.si-bg-pink {
    background-color: pink;
}

.si-bg-purple {
    background-color: purple;
}

.si-bg-deep-purple {
    background-color: #673ab6;
}

.si-bg-indigo {
    background-color: indigo;
}

.si-bg-blue {
    background-color: blue;
}

.si-bg-light-blue {
    background-color: #03a8f3;
}

.si-bg-cyan {
    background-color: cyan;
}

.si-bg-teal {
    background-color: teal;
}

.si-bg-green {
    background-color: green;
}

.si-bg-light-green {
    background-color: #8ac24a;
}

.si-bg-lime {
    background-color: lime;
}

.si-bg-yellow {
    background-color: yellow;
}

.si-bg-amber {
    background-color: #fec007;
}

.si-bg-orange {
    background-color: orange;
}

.si-bg-deep-orange {
    background-color: #fe5722;
}

.si-bg-brown {
    background-color: brown;
}

.si-bg-gray {
    background-color: gray;
}

.si-bg-blue-gray {
    background-color: #607d8a;
}

.si-bg-white {
    background-color: white;
}

.si-bg-black {
    background-color: black;
}

.si-fg-red {
    color: red;
}

.si-fg-pink {
    color: pink;
}

.si-fg-purple {
    color: purple;
}

.si-fg-deep-purple {
    color: #673ab6;
}

.si-fg-indigo {
    color: indigo;
}

.si-fg-blue {
    color: blue;
}

.si-fg-light-blue {
    color: #03a8f3;
}

.si-fg-cyan {
    color: cyan;
}

.si-fg-teal {
    color: teal;
}

.si-fg-green {
    color: green;
}

.si-fg-light-green {
    color: #8ac24a;
}

.si-fg-lime {
    color: lime;
}

.si-fg-yellow {
    color: yellow;
}

.si-fg-amber {
    color: #fec007;
}

.si-fg-orange {
    color: orange;
}

.si-fg-deep-orange {
    color: #fe5722;
}

.si-fg-brown {
    color: brown;
}

.si-fg-gray {
    color: gray;
}

.si-fg-blue-gray {
    color: #607d8a;
}

.si-fg-white {
    color: white;
}

.si-fg-black {
    color: black;
}
